*
!.gitignore
!zapatos/
!zapatos/**
!zapatos_extension/
!zapatos_extension/**
!zapatos_detalle/
!zapatos_detalle/**
!zapatos_devoluciones/
!zapatos_devoluciones/**
!zapatos_grupo5/
!zapatos_grupo5/**
**/__pycache__/
*.pyc
*.pyo
*.pyd
!Grupo_6_modulos/
!Grupo_6_modulos/**
